@import "tailwindcss";

@theme {
  --color-blue-marguerite-50: #eef0ff;
  --color-blue-marguerite-100: #e0e4ff;
  --color-blue-marguerite-200: #c8cefd;
  --color-blue-marguerite-300: #a6acfb;
  --color-blue-marguerite-400: #8583f6;
  --color-blue-marguerite-500: #7267ef;
  --color-blue-marguerite-600: #6148e3;
  --color-blue-marguerite-700: #533ac8;
  --color-blue-marguerite-800: #4432a1;
  --color-blue-marguerite-900: #3a2f80;
  --color-blue-marguerite-950: #241c4a;

  --color-body: #f0f2f8;
  --color-surface: #ffffff;
  --color-text: #060606;
  --color-text-muted: #6b7280;
  --color-danger: #ea4d4d;
  --color-success: #17c666;
}
